<div class="pos row">
	<div class="col-sm-2">
		<!-- Photo -->
		&#160;
	</div>
	<div class="col-sm-3 active">
		<p><%- name %></p>
		<input type="text" class="form-control input-data" name='name' value='<%- name %>'  placeholder="Имя">
	</div>
	<div class="col-sm-3">
		<p><%- sename %></p>
		<input type="text" class="form-control input-data" name='sename' value='<%- sename %>'  placeholder="Фамилия">
	</div>
	<div class="col-sm-2">
		<p><%- phone %></p>
		<input type="text" class="form-control input-data" name='phone' value='<%- phone %>'  placeholder="Телефон">
	</div>
	<div class="col-sm-2">
		<a href='#' class="edit btn btn-warning btn-xs">
		  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
		</a>
		<a href='#' class="done btn btn-success btn-xs">
		  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		</a>
		<a href='#' class="remove btn btn-danger btn-xs">
		  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		</a>
	</div>
	
</div>