<div class="one-table-wrap" style=''>
    <a href="#" class="remove">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>
    <div class="thumbnail one-table_content">
        <div class="one-table_content_in">
            <div class="title">
                <span class="title_text"><%- title %></span>
                <div class="title-input">
                    <input type="text" class="form-control" value='<%- title %>' placeholder="<%- title %>">
                </div>
            </div>
        </div>
    </div>
</div>