<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" href="app/css/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="app/css/style.css"/>
</head>
<body>
    <div id="app" class="main-wrap-app">
    </div>
    
    <script data-main="app/js/app" src="app/js/lib/require/require.js"></script>
</body>
</html>